@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  background-color: #08f;
  overflow: hidden;
  text-align: center;
  user-select: none;
}
br { user-select: none; }

#class-container {
  width: 100%;
  height: 110px;
  background-color: #fff;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.class {
  display: inline-block;
  margin: 20px;
  padding-bottom: 16px;
  transition: .3s ease-out;
}
.class:hover { transform: scale(1.1); cursor: pointer; }
.class img { width: 70px; }

::-webkit-scrollbar { width: 10px; height: 15px; }
::-webkit-scrollbar-button { width: 0px; height: 0px; }
::-webkit-scrollbar-thumb { background: #777; }
::-webkit-scrollbar-thumb:hover { background: #666; }
::-webkit-scrollbar-thumb:active { background: #444; }

#class-add {
  background-color: #fff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  transition: .3s ease-out;
  margin-top: 20px;
  cursor: pointer;
}
*:focus { outline: none; }
button { border: 2pt solid #3c3c3c }

#ask-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
}
#ask-subcontainer {
  position: absolute;
  top: 50%; /* Puts the top side in the middle */
  left: 50%; /* Puts the left side in the middle */
  transform: translate( -50%, -50% ); /* transform moves it 50% of its width left and 50% of its height up so its centered */
  text-align: center;
  padding: 15px;
  padding-top: 11px;
  background-color: #fff;
  border: 2pt solid #000; /* What the heck is a pt */
  border-radius: 15px; 
  font-weight: bold;
  font-size: 16px;
}
#ask-subcontainer-relative { position: relative; }
#ask-background {
  background-color: #fff;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
#ask-text { 
  user-select: none;
  margin: 0px;
  margin-bottom: 8px;
  margin-top: -1px;
}
input {
  font-family: 'Quicksand', sans-serif;
  border-color: #000;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: bold;
}
#ask-input-name { margin-right: 5px; }
#ask-image-input-label {
  font-family: 'Quicksand', sans-serif;
  background-color: #e0e0e0;
  font-size: 16px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease-out;
}
#ask-image-input-label:hover { background-color: #c3c3c3; }
#ask-submit {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  transition: .3s ease-out;
  cursor: pointer;
}
#ask-cancel {
  position: absolute;
  top: 0px; right: 0px;
  font-size: 30px;
  color: #d80000;
  background-color: transparent;
  border: none;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  transition: .3s ease-out;
  float: right;
  margin-top: -10px;
  margin-right: -6px;
}
#ask-cancel:hover { color: #af0000; }
